@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "나눔스퀘어", "나눔고딕", sans-serif;
}
a, label, button { cursor: pointer; user-select: none; }
a, a:hover { text-decoration: none!important; }
p { word-break: keep-all; }
ol, ul { list-style: none; }

.text-shadow { text-shadow: 0 1px 4px #000a; }
.keep-all { word-break: keep-all; }
.pointer { cursor: pointer; }
.padding { padding: 120px 0; }

.bg-none { background: none; }
.full-height { min-height: calc( 100vh - 165px ); }
.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }


.bg-light {
    background: none;
    background-color: #fff;
}

/* 버튼
 */

 .cross {
    width: 40px;
    height: 40px;
}
.cross span { display: block; }
.cross span:first-child {
    width: 0px; 
    height: 100%; 
    border-right: 1px solid #555; 
    margin: 0 auto;
}
.cross span:last-child {
    width: 100%; 
    height: 0px;  
    border-top: 1px solid #555; 
    position: relative;
    top: -50%;
}


.white-fill-btn {
    padding: 0.4em 0.8em;
    border: none;
    transition: 0.3s;
    background-color: #fff;
    color: #222;
}
.white-fill-btn:hover {
    background-color: #ddd;
}


.fill-btn {
    background-color: #222;
    color: #fff;
    padding: 0.4em 0.8em;
    border: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill-btn:hover {
    background-color: #2220;
    color: #222;
}

.underline-btn {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #222;
    background-color: transparent;
    padding: 0.4em 0.8em;
    font-weight: bold;
    color: #222;
    position: relative;
    outline: 0;
    z-index: 1;
}

.underline-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #222;
    transition: 0.3s height;
    z-index: -1;
}

.underline-btn:hover { color: #fff!important; border: none; }
.underline-btn:hover::before { height: 100%; transition: 0.5s height; }


.border-btn {
    background-color: transparent;
    color: #fff;
    padding: 0.4em 0.8em;
    border: 1px solid #fff;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-btn:hover {
    background-color: #fff;
    color: #333;
}


/* 스크롤바
 */

.custom-scrollbar::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 5px;
    background-color: #ddd;
    border-radius: 2.5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 2.5px;
}

/* Range input
 */

 .range {
     appearance: none;
     outline: none;
     width: 100px;
     height: 4px;
     overflow: hidden;
 }

 .range::-webkit-slider-thumb {
    top: 0;
    margin: 0;
    appearance: none;
    width: 4px;
    height: 4px;
    background-color: #3486BB;
    box-shadow: -50vw 0 0 50vw #3486BB;
 }

 .range::-webkit-slider-runnable-track {
     height: 4px;
 }
 


.fx-n4 { font-size: 0.8em!important; }
.fx-n3 { font-size: 0.85em!important; }
.fx-n2 { font-size: 0.9em!important; }
.fx-n1 { font-size: 0.95em!important; }
.fx-1  { font-size: 1em!important; }
.fx-2  { font-size: 1.1em!important; }
.fx-3  { font-size: 1.2em!important; }
.fx-4  { font-size: 1.4em!important; }
.fx-5  { font-size: 1.6em!important; }
.fx-6  { font-size: 1.8em!important; }
.fx-7  { font-size: 2.0em!important; }
.fx-8  { font-size: 2.4em!important; }
.fx-9  { font-size: 2.8em!important; }



/* wrapper */

#wrapper {
    padding-top: 70px;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    overflow-x: hidden;
    background-clip: content-box;
    background-color: #f8f8f8;
}

/* /wrapper  */


/* Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 48px;
    height: 70px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 1px 3px 1px #0002;
    transition: height 0.3s;
}

header:hover {
    height: 80px;
    transition: 0.5s;
}

header .nav-item {
    padding: 0 20px;
    cursor: pointer;
}

header .nav-item a {
    color: #222;
    font-weight: 600;
    font-size: 0.9em;
    position: relative;
}

header .nav-item a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    margin-top: 5px;
    background-color: #555;
    transition: 0.3s;
}

header a:hover, header .nav-item.active a {
    color: #222;
    text-decoration: none;
}

header .nav-item:hover > a::after,
header .nav-item.active > a::after {
    width: 100%;
}


/* /Header */


/* Footer */

footer {
    padding-bottom: 10px;
    background-color: #222;
    font-size: 0.85em;
}

footer .top {
    height: 45px;
    line-height: 45px;
    color: #fffa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #1a1a1a 1px solid;
}

footer .top > div { cursor: pointer; }
footer .top > div:hover { color: #fff; }

footer .split {
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #fff5;
    margin: 0 20px;
}

footer .bottom {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff5;
    font-size: 0.9em;
}

/* /Footer */


/* large */

@media(max-width: 992px){
    .full-height-lg { min-height: calc( 100vh - 165px ); }
    .padding-lg { padding: 120px 0; }

    .fx-lg-n4 { font-size: 0.8em!important; }
    .fx-lg-n3 { font-size: 0.85em!important; }
    .fx-lg-n2 { font-size: 0.9em!important; }
    .fx-lg-n1 { font-size: 0.95em!important; }
    .fx-lg-1  { font-size: 1em!important; }
    .fx-lg-2  { font-size: 1.1em!important; }
    .fx-lg-3  { font-size: 1.2em!important; }
    .fx-lg-4  { font-size: 1.4em!important; }
    .fx-lg-5  { font-size: 1.6em!important; }
    .fx-lg-6  { font-size: 1.8em!important; }
    .fx-lg-7  { font-size: 2.0em!important; }
    .fx-lg-8  { font-size: 2.4em!important; }
    .fx-lg-9  { font-size: 2.8em!important; }


    #wrapper { padding-left: 0; padding-right: 0; }
    header { padding: 0; }
    .full-height {
        height: auto;
    }
}

/* /large */

/* small */

@media(max-width: 576px){
    .fx-sm-n4 { font-size: 0.8em!important; }
    .fx-sm-n3 { font-size: 0.85em!important; }
    .fx-sm-n2 { font-size: 0.9em!important; }
    .fx-sm-n1 { font-size: 0.95em!important; }
    .fx-sm-1  { font-size: 1em!important; }
    .fx-sm-2  { font-size: 1.1em!important; }
    .fx-sm-3  { font-size: 1.2em!important; }
    .fx-sm-4  { font-size: 1.4em!important; }
    .fx-sm-5  { font-size: 1.6em!important; }
    .fx-sm-6  { font-size: 1.8em!important; }
    .fx-sm-7  { font-size: 2.0em!important; }
    .fx-sm-8  { font-size: 2.4em!important; }
    .fx-sm-9  { font-size: 2.8em!important; }
}

/* /small */